.App {
  text-align: center;
  background-color: #eee;
  width: 700px;
  margin: 10vh auto;
  font-size: 5vh;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Display {
  background-color: rgb(133, 133, 149);
  font-weight: bold;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ButtonPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5vh;
  box-sizing: border-box;
}

.ButtonGroup {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.Button {
  height: 100px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 142, 5);
  color: #000;
  border: 1px solid #bbb;
}

.Button2 {
  width: 50%;
}

.Button3 {
  background-color: #eee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
